VITE_SOLANA_NETWORK=mainnet-beta
VITE_SOLANA_RPC_URL=https://solana-rpc.publicnode.com
VITE_SHAREDSTOCKS_PROGRAM_ID=4R3qUUWRrsoMs3zwLh6Nfc6iCQNERmpYspZVRwomB3Pk
VITE_JUPITER_API_URL=https://api.jup.ag/swap/v1